<div class="container-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-brand">INICIO</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button class="nav-link active" aria-current="page" (click)="handleMainPokemons()" >POKEMONES</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" aria-current="page" (click)="handleMyPokemons()" >MIS POKEMONES</button>
                </li>
                <li class="nav-item">
                    <a (click)="logout()" class="nav-link active" aria-current="page" href="https://Cris626.github.io/app-crud-test-pokemon/">CERRAR SESION</a>
                </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search">
                </form>
            </div>
        </div>
    </nav>
</div>
